  select {
    background-image: url('https://img.icons8.com/ios-glyphs/1x/sort.png') !important;
    background-size: 50%;
  }
  .fa-brands.fa-cc-mastercard {
    font-size: 24px;
  }
  .fa-brands.fa-cc-visa{
    font-size: 24px;
  }

  .fa-brands.fa-cc-diners-club{
    font-size: 24px;
  }

  .fa-brands.fa-cc-amex{
    font-size: 24px;
  }